*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilory';
}

html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
}
#page-1{
    height: 100%;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}
nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}
#nav-part-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part-2 h4{
    padding: 10px 20px;
    border: 1px solid rgb(84, 80, 80);
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.486);
    transition: all ease 0.3s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
#nav-part-2 h4::after {
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: black;
     left: 0;
     bottom: -100%;
     border-radius: 50%;
     transition: all ease 0.3s;
}
#nav-part-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part-2 h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part-2 h4:hover a{
    color: white;
}